<section class="index-page">
  <img class="avatar" src={{ image }} alt='user image'>
  <h2>
    Hello {{ name }} !
  </h2>
  <a href='/auth/logout' class="loginBtn">
    Log out
  </a>
</section>